In [16]:
import nltk
import requests
import json
import csv
import requests
import os
import datetime
import dateutil.rrule
from datetime import date, timedelta
import dateutil.relativedelta as relativedelta
import dateutil.rrule as rrule
import calendar
import glob
from nltk.probability import FreqDist
import pandas as pd

In [10]:
df=pd.read_csv((os.getcwd()+'/restaurant.csv'),low_memory=False)
df=df.drop_duplicates()

df.head()

,id,name,phone,rating,reviewcount,transactions,latitude,longitude,city,address1,address2,address3,zip_code,distance,categories1,categories2,categories3,price
0,girl-and-the-goat-chicago,Girl & the Goat,(312) 492-6262,4.5,5896,NaN,41.884105,-87.647944,Chicago,809 W Randolph St,NaN,NaN,60607,3402.031302,American (New),NaN,NaN,$$$
1,the-purple-pig-chicago,The Purple Pig,(312) 464-1744,4.0,4904,NaN,41.891020,-87.624562,Chicago,500 N Michigan Ave,NaN,NaN,60611,4675.476777,Tapas/Small Plates,Mediterranean,Wine Bars,$$
2,the-dearborn-chicago-2,The Dearborn,(312) 384-1242,4.5,280,NaN,41.884258,-87.629397,Chicago,145 N Dearborn St,NaN,NaN,60602,4618.266832,Salad,Seafood,American (Traditional),$$
3,au-cheval-chicago,Au Cheval,(312) 929-4580,4.5,3759,NaN,41.884658,-87.647667,Chicago,800 W Randolph St,NaN,NaN,60607,3376.733281,American (New),Bars,Burgers,$$
4,copper-fox-gastropub-chicago,Copper Fox Gastropub,(312) 255-8505,4.5,217,NaN,41.893215,-87.623370,Chicago,155 East Ontario St,NaN,NaN,60611,4722.579101,American (New),Gastropubs,NaN,$$

In [11]:
df1=df[["id","reviewcount","rating"]]

In [25]:
df_byrating=df1.sort_values(["rating"],ascending=[False])
df_ana=df_byrating.query('reviewcount>200')
df_ana.head()

                                       id  reviewcount  rating
21149           786-degrees-los-angeles-5          491     5.0
2549                   ninis-deli-chicago          364     5.0
67004                the-alcove-sunnyside          232     5.0
22949   orleans-and-york-deli-los-angeles          520     4.5
24599  hoy-ka-thai-restaurant-los-angeles          890     4.5

In [64]:
Idlist=df_ana['id'].tolist()
l1=["786-degrees-los-angeles-5","ninis-deli-chicago","the-alcove-sunnyside","orleans-and-york-deli-los-angeles","hoy-ka-thai-restaurant-los-angeles"]

In [70]:
def get_chunks2(MyList, n):
    return [MyList[x:x+n] for x in range(0, len(MyList), n)]

def writejson(name,r):    
    with open(os.getcwd()+"/raw data/Restaurant_Review/"+name+'.json', 'w',encoding='utf-8',errors='ignore') as outfile:
        json.dump(r, outfile)

In [69]:
def combineReviewJson():
    list1=get_chunks2(Idlist, 20)
    for li in list1:
        reviewdict={}
        review=[]
        for l in li:
            url = 'https://api.yelp.com/v3/businesses/'+l+'/reviews'
            r=requests.get(url=url,headers=headers)
            review.extend(r.json()["reviews"])
        reviewdict["reviews"]=review
        writejson(l[0]+l[1]+l[2]+l[3]+l[4],reviewdict)

In [71]:
combineReviewJson()

In [72]:
# example={}
# ee=[]
# for l in l1:
#     url = 'https://api.yelp.com/v3/businesses/'+l+'/reviews'
#     r=requests.get(url=url,headers=headers)
#     ee.extend(r.json()["reviews"])
# example["reviews"]=ee

In [45]:
example

{'reviews': [{'rating': 5,
   'text': "Best pizza I have ever tried!!!!\n\nMy bf and I loved it!\n\nTry the Bombay Tikka Masala, you won't be disappointed!",
   'time_created': '2017-04-13 15:50:09',
   'url': 'https://www.yelp.com/biz/786-degrees-los-angeles-5?hrid=UfcHntPUSV9LvCBDI44qPw&adjust_creative=8_C4NSGbL05eUQksKleGYw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=8_C4NSGbL05eUQksKleGYw',
   'user': {'image_url': 'https://s3-media1.fl.yelpcdn.com/photo/KOfxALWswPPvlsAVWtWtFg/o.jpg',
    'name': 'Cindy C.'}},
  {'rating': 5,
   'text': 'Probably one of our new favorite pizza places! My husband and I tried the Fungi Lama and the Bombay Tikka masala pizzas and both were delicious! Reminded us...',
   'time_created': '2017-04-10 18:49:18',
   'url': 'https://www.yelp.com/biz/786-degrees-los-angeles-5?hrid=HlqkhDWSr0nM1672EaPpaA&adjust_creative=8_C4NSGbL05eUQksKleGYw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=8_C4NSGbL05eUQksKleGYw',
   'user': {'image_url': 'https://s3-media2.fl.yelpcdn.com/photo/cO5AGDmMpP-asi9u3NC7eQ/o.jpg',
    'name': 'Beanne N.'}},
  {'rating': 5,
   'text': 'Excellent customer service. Owner is Indian, Italian, and Iraqi so the food reflects worldwide flavors. Oven is from Italy from some sort of mountain or...',
   'time_created': '2017-04-08 19:09:21',
   'url': 'https://www.yelp.com/biz/786-degrees-los-angeles-5?hrid=ZkNs74PaOsQE0RrnF53Skw&adjust_creative=8_C4NSGbL05eUQksKleGYw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=8_C4NSGbL05eUQksKleGYw',
   'user': {'image_url': 'https://s3-media3.fl.yelpcdn.com/photo/_f_ZcXEsNjM7ptMy7PG58Q/o.jpg',
    'name': 'Margarita W.'}},
  {'rating': 5,
   'text': "Love Nini's deli. Was recommended by a friend and made the trip out to find it. Legit amazing Cuban/Mexican food and Juan is one of the most passionate...",
   'time_created': '2017-04-08 10:48:22',
   'url': 'https://www.yelp.com/biz/ninis-deli-chicago?hrid=4sQg_kUI-WoJJh_Shfdtrw&adjust_creative=8_C4NSGbL05eUQksKleGYw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=8_C4NSGbL05eUQksKleGYw',
   'user': {'image_url': 'https://s3-media2.fl.yelpcdn.com/photo/Lr543dYqJStjozifTg6mvw/o.jpg',
    'name': 'Jon B.'}},
  {'rating': 5,
   'text': 'Amazing service from very cool dudes who take family recipes and interrupt them in a modern way. Foods amazing, staff is great, the wait is worth it! \n\nI...',
   'time_created': '2017-03-03 11:02:23',
   'url': 'https://www.yelp.com/biz/ninis-deli-chicago?hrid=4CMqxb_dCJgn9yYz5N96DQ&adjust_creative=8_C4NSGbL05eUQksKleGYw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=8_C4NSGbL05eUQksKleGYw',
   'user': {'image_url': 'https://s3-media1.fl.yelpcdn.com/photo/VXdD-iGAM2E5OZcZ3sJcpw/o.jpg',
    'name': 'Brett B.'}},
  {'rating': 5,
   'text': 'WOWOWOWOWOWOWOW \n\nThe cafe con leche is amazing \nI had the burrito and was thoroughly satisfied. Surprisingly goes very well with Sriracha ?\n\nThe owners son...',
   'time_created': '2017-02-18 09:41:57',
   'url': 'https://www.yelp.com/biz/ninis-deli-chicago?hrid=KwPePGlRe32tEQUZlBYwqg&adjust_creative=8_C4NSGbL05eUQksKleGYw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=8_C4NSGbL05eUQksKleGYw',
   'user': {'image_url': 'https://s3-media1.fl.yelpcdn.com/photo/3-KU6ha3vnQFlDf7wnLvYg/o.jpg',
    'name': 'Mihir P.'}},
  {'rating': 5,
   'text': "I've been meaning to write a review on this little cozy spot for months now. My boyfriend lives a block away and I consistently demand to come here solely...",
   'time_created': '2017-04-09 10:12:20',
   'url': 'https://www.yelp.com/biz/the-alcove-sunnyside?hrid=E_EUKw10kUseCjyvl8qk8A&adjust_creative=8_C4NSGbL05eUQksKleGYw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=8_C4NSGbL05eUQksKleGYw',
   'user': {'image_url': 'https://s3-media1.fl.yelpcdn.com/photo/lCmN-qrTnlmMpaucO7pqDw/o.jpg',
    'name': 'Dan G.'}},
  {'rating': 3,
   'text': 'I decided to check this place out after seeing tantalizing pictures of the tacos and skirt steaks skewers. The servers were very attentive, but were a bit...',
   'time_created': '2017-04-14 14:02:35',
   'url': 'https://www.yelp.com/biz/the-alcove-sunnyside?hrid=sRsR1wK5q3zDCaXmsw2pLg&adjust_creative=8_C4NSGbL05eUQksKleGYw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=8_C4NSGbL05eUQksKleGYw',
   'user': {'image_url': 'https://s3-media2.fl.yelpcdn.com/photo/d9IwSgL_tguVWki8nFydkw/o.jpg',
    'name': 'Tanya K.'}},
  {'rating': 2,
   'text': 'Oh my poor taste buds... I am going to say flat out, I think their 5 star rating is bullshit. I feel like I was tricked into coming here with all the fake 5...',
   'time_created': '2017-04-12 19:37:31',
   'url': 'https://www.yelp.com/biz/the-alcove-sunnyside?hrid=AmwmnYKURYyLgZ6t9aXuzA&adjust_creative=8_C4NSGbL05eUQksKleGYw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=8_C4NSGbL05eUQksKleGYw',
   'user': {'image_url': 'https://s3-media4.fl.yelpcdn.com/photo/c9zrZOrPoaRjC8I1HbjJkg/o.jpg',
    'name': 'Ben L.'}},
  {'rating': 5,
   'text': "I've been coming to Orleans and York for two years now, after having discovered it while trying to find a poboy sandwich in Los Angeles. A girl I was dating...",
   'time_created': '2017-03-11 18:53:46',
   'url': 'https://www.yelp.com/biz/orleans-and-york-deli-los-angeles?hrid=ScEZRoh0RWf5rXyjecoJSA&adjust_creative=8_C4NSGbL05eUQksKleGYw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=8_C4NSGbL05eUQksKleGYw',
   'user': {'image_url': 'https://s3-media4.fl.yelpcdn.com/photo/6w2hpXFAnPLStQS8konoUA/o.jpg',
    'name': 'Miguel R.'}},
  {'rating': 4,
   'text': 'Po-boys or Heroes? Decisions, decisions...\n\nHaving been a big fan of a shredded beef po-boy when I visited New Orleans, I was pretty excited to find out...',
   'time_created': '2017-03-25 21:27:40',
   'url': 'https://www.yelp.com/biz/orleans-and-york-deli-los-angeles?hrid=eW-sw07VuixiSI9aQc-UDA&adjust_creative=8_C4NSGbL05eUQksKleGYw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=8_C4NSGbL05eUQksKleGYw',
   'user': {'image_url': 'https://s3-media3.fl.yelpcdn.com/photo/GFrTLSBE8YmU0jhmFDxqVg/o.jpg',
    'name': 'Dexter C.'}},
  {'rating': 5,
   'text': 'When I received my food and opened up my to go box, since I did not choose to dine in, all I could think was OMG I am in love!! The smell of the food...',
   'time_created': '2017-01-06 07:23:16',
   'url': 'https://www.yelp.com/biz/orleans-and-york-deli-los-angeles?hrid=8wWJO5uZnvuwC3ORgrVcmg&adjust_creative=8_C4NSGbL05eUQksKleGYw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=8_C4NSGbL05eUQksKleGYw',
   'user': {'image_url': 'https://s3-media2.fl.yelpcdn.com/photo/N2h2eYe2TOBQVXUOE9V4Pg/o.jpg',
    'name': 'Nik D.'}},
  {'rating': 5,
   'text': "Who am I kidding?  The primary reason I come to Hoy-Ka is the sneaky pork.  Whenever I've ordered something else, I've immediately regretted my decision....",
   'time_created': '2017-04-05 10:29:53',
   'url': 'https://www.yelp.com/biz/hoy-ka-thai-restaurant-los-angeles?hrid=dGyJaJQMlwtxGHJUTQeYuw&adjust_creative=8_C4NSGbL05eUQksKleGYw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=8_C4NSGbL05eUQksKleGYw',
   'user': {'image_url': 'https://s3-media4.fl.yelpcdn.com/photo/t7OhDNglXbsgi4Dl45n7mA/o.jpg',
    'name': 'Greg T.'}},
  {'rating': 5,
   'text': "Amazing place. The environment is completely amazing, place is beautiful, the staff is attentive and kind and the food is really amazing!!!\n\nIt's not as...",
   'time_created': '2017-04-04 19:14:31',
   'url': 'https://www.yelp.com/biz/hoy-ka-thai-restaurant-los-angeles?hrid=kRqFK8LSxgKp2BUtnU9Ngg&adjust_creative=8_C4NSGbL05eUQksKleGYw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=8_C4NSGbL05eUQksKleGYw',
   'user': {'image_url': 'https://s3-media2.fl.yelpcdn.com/photo/T43wpyNwGQAqKVbKaFbr4w/o.jpg',
    'name': 'Bryan C.'}},
  {'rating': 5,
   'text': 'Hoy Ka Thai spicy level 1-10 translated:\n\n1 = Hot\n2 = I did say level 2 right?\n3 = wait, super hot wtf\n4 = wait\n5 = not that bad (fucking terrible) \n6 =...',
   'time_created': '2017-04-01 00:28:24',
   'url': 'https://www.yelp.com/biz/hoy-ka-thai-restaurant-los-angeles?hrid=OnH321GdBrIbiPCLUB_xkA&adjust_creative=8_C4NSGbL05eUQksKleGYw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=8_C4NSGbL05eUQksKleGYw',
   'user': {'image_url': 'https://s3-media2.fl.yelpcdn.com/photo/I9dbpaSsYBepBbJhVLfOkg/o.jpg',
    'name': 'Dylan S.'}}]}

In [30]:
type(r1.json()["reviews"])

list