In [1]:
from pandas import Series, DataFrame
import pandas as pd
import os
import numpy as np
import datetime as dt
import re

In [2]:
df = pd.read_csv(os.getcwd()+'/movies_awards.csv')

In [3]:
df1=df[["Awards"]].query("Awards == Awards")

In [4]:
len(df1)

1818

In [5]:
qq=df1["Awards"].tolist()

In [6]:
df2=df1.copy()
replace_values = {'nominations' : "nomination","wins":"win","Nominated for":"nomination","wins":"win","Another":"&",
                 "Won":"win","s ":" "} 




# I want to replace in df but it show empty when I use replace.(".","")

In [7]:
df2=df2.replace({"Awards":replace_values},regex=True)
df2.head()

                  Awards
3  1 win & 2 nomination.
4                 1 win.
5          1 nomination.
6  3 win & 2 nomination.
7  1 win & 1 nomination.

In [8]:
e=[]
for q in qq:
    q=q.replace(".","")
    q=q.replace("nominations","nomination")
    q=q.replace("wins","win")
#     q=q.replace("Nominated for","nomination")
    q=q.replace("wins","win")
    q=q.replace("Another","&")
#     q=q.replace("Won","win")
    q=q.replace("s "," ")
    q=re.sub(r'\d+', '',q)
    q=q.replace(" ","")
    e.append(q)

    

#     \d+

In [9]:
awardsname=[]
for ee in e:
    awardsname.extend(ee.split("&"))

In [10]:
set(awardsname)      #get all awards name

{'NominatedforBAFTAFilmAward',
 'NominatedforGoldenGlobe',
 'NominatedforOscar',
 'NominatedforPrimetimeEmmy',
 'WonGoldenGlobe',
 'WonOscar',
 'WonPrimetimeEmmy',
 'nomination',
 'win'}

In [11]:
e1=[]
for q in qq:
    q=q.replace(".","")
    q=q.replace("nominations","nomination")
    q=q.replace("wins","win")
#     q=q.replace("Nominated for","nomination")
    q=q.replace("wins","win")
    q=q.replace("Another","&")
#     q=q.replace("Won","win")
    q=q.replace("s "," ")
    q=q.replace(" ","")
    e1.append(q.split("&"))

In [12]:
df2["award_clean"]=e1
df2["win"]="win"
df2["nomination"]="nomination"
df2["WonPrimetimeEmmy"]="WonPrimetimeEmmy"
df2["WonOscar"]="WonOscar"
df2["WonGoldenGlobe"]="WonGoldenGlobe"
df2["NominatedforPrimetimeEmmy"]="NominatedforPrimetimeEmmy"
df2["NominatedforOscar"]="NominatedforOscar"
df2["NominatedforGoldenGlobe"]="NominatedforGoldenGlobe"
df2["NominatedforBAFTAFilmAward"]="NominatedforBAFTAFilmAward"

In [13]:
def calculate(x):
    for ex in x:
        num=re.findall('\d+', ex)
        name=re.sub(r'\d+','',ex)
        if df2[name]==name:
            df2[name]=num
        else:
            df2[name]=0
        
type(df2["Awards"])     
# df.set_value('C', 'x', 10)

pandas.core.series.Series

In [23]:
result={"Uniquekey":[0], "Awards":["awards"],"win":["win"],"nomination":["nomination"],
        "WonPrimetimeEmmy":["WonPrimetimeEmmy"],"WonOscar":["WonOscar"],"NominatedforPrimetimeEmmy":["NominatedforPrimetimeEmmy"],
        "NominatedforOscar":["NominatedforOscar"],"NominatedforGoldenGlobe":["NominatedforGoldenGlobe"],
        "WonGoldenGlobe":["WonGoldenGlobe"],"NominatedforBAFTAFilmAward":["NominatedforBAFTAFilmAward"],}
            
    
result=DataFrame(result)

In [24]:
count=0
for awards in df2["award_clean"]:
    sent_str=""
    for alle in awards:
        sent_str+=str(alle)+"&"        
    count=count+1
    for ex in awards:
        num=int(re.findall('\d+', ex)[0])
        name=re.sub(r'\d+','',ex)
        data={"Uniquekey":[count],"Awards":[sent_str],name:num}
        ff=DataFrame(data)
        result=pd.concat([result,ff])

In [25]:
result

,Awards,NominatedforBAFTAFilmAward,NominatedforGoldenGlobe,NominatedforOscar,NominatedforPrimetimeEmmy,Uniquekey,WonGoldenGlobe,WonOscar,WonPrimetimeEmmy,nomination,win
0,awards,NominatedforBAFTAFilmAward,NominatedforGoldenGlobe,NominatedforOscar,NominatedforPrimetimeEmmy,0,WonGoldenGlobe,WonOscar,WonPrimetimeEmmy,nomination,win
0,1win&2nomination&,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,1
0,1win&2nomination&,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,2,NaN
0,1win&,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,1
0,1nomination&,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,1,NaN
0,3win&2nomination&,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,3
0,3win&2nomination&,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,2,NaN
0,1win&1nomination&,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,1
0,1win&1nomination&,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,1,NaN
0,5nomination&,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,5,NaN
0,2win&5nomination&,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,2
0,2win&5nomination&,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN,5,NaN
0,Nominatedfor1Oscar&13win&13nomination&,NaN,NaN,1,NaN,8,NaN,NaN,NaN,NaN,NaN
0,Nominatedfor1Oscar&13win&13nomination&,NaN,NaN,NaN,NaN,8,NaN,NaN,NaN,NaN,13
0,Nominatedfor1Oscar&13win&13nomination&,NaN,NaN,NaN,NaN,8,NaN,NaN,NaN,13,NaN
0,5win&4nomination&,NaN,NaN,NaN,NaN,9,NaN,NaN,NaN,NaN,5
0,5win&4nomination&,NaN,NaN,NaN,NaN,9,NaN,NaN,NaN,4,NaN
0,Nominatedfor1GoldenGlobe&14win&34nomination&,NaN,1,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN
0,Nominatedfor1GoldenGlobe&14win&34nomination&,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,NaN,14
0,Nominatedfor1GoldenGlobe&14win&34nomination&,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,34,NaN
0,3win&2nomination&,NaN,NaN,NaN,NaN,11,NaN,NaN,NaN,NaN,3
0,3win&2nomination&,NaN,NaN,NaN,NaN,11,NaN,NaN,NaN,2,NaN
0,1nomination&,NaN,NaN,NaN,NaN,12,NaN,NaN,NaN,1,NaN
0,5nomination&,NaN,NaN,NaN,NaN,13,NaN,NaN,NaN,5,NaN
0,1win&2nomination&,NaN,NaN,NaN,NaN,14,NaN,NaN,NaN,NaN,1
0,1win&2nomination&,NaN,NaN,NaN,NaN,14,NaN,NaN,NaN,2,NaN
0,22win&44nomination&,NaN,NaN,NaN,NaN,15,NaN,NaN,NaN,NaN,22
0,22win&44nomination&,NaN,NaN,NaN,NaN,15,NaN,NaN,NaN,44,NaN
0,1win&3nomination&,NaN,NaN,NaN,NaN,16,NaN,NaN,NaN,NaN,1
0,1win&3nomination&,NaN,NaN,NaN,NaN,16,NaN,NaN,NaN,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...
0,1nomination&,NaN,NaN,NaN,NaN,1793,NaN,NaN,NaN,1,NaN
0,1nomination&,NaN,NaN,NaN,NaN,1794,NaN,NaN,NaN,1,NaN
0,1win&,NaN,NaN,NaN,NaN,1795,NaN,NaN,NaN,NaN,1
0,1nomination&,NaN,NaN,NaN,NaN,1796,NaN,NaN,NaN,1,NaN
0,1win&,NaN,NaN,NaN,NaN,1797,NaN,NaN,NaN,NaN,1
0,1nomination&,NaN,NaN,NaN,NaN,1798,NaN,NaN,NaN,1,NaN
0,2nomination&,NaN,NaN,NaN,NaN,1799,NaN,NaN,NaN,2,NaN
0,1nomination&,NaN,NaN,NaN,NaN,1800,NaN,NaN,NaN,1,NaN
0,2nomination&,NaN,NaN,NaN,NaN,1801,NaN,NaN,NaN,2,NaN
0,2win&2nomination&,NaN,NaN,NaN,NaN,1802,NaN,NaN,NaN,NaN,2
0,2win&2nomination&,NaN,NaN,NaN,NaN,1802,NaN,NaN,NaN,2,NaN
0,2nomination&,NaN,NaN,NaN,NaN,1803,NaN,NaN,NaN,2,NaN
0,2win&2nomination&,NaN,NaN,NaN,NaN,1804,NaN,NaN,NaN,NaN,2
0,2win&2nomination&,NaN,NaN,NaN,NaN,1804,NaN,NaN,NaN,2,NaN
0,2win&1nomination&,NaN,NaN,NaN,NaN,1805,NaN,NaN,NaN,NaN,2
0,2win&1nomination&,NaN,NaN,NaN,NaN,1805,NaN,NaN,NaN,1,NaN
0,1nomination&,NaN,NaN,NaN,NaN,1806,NaN,NaN,NaN,1,NaN
0,1nomination&,NaN,NaN,NaN,NaN,1807,NaN,NaN,NaN,1,NaN
0,1nomination&,NaN,NaN,NaN,NaN,1808,NaN,NaN,NaN,1,NaN
0,2nomination&,NaN,NaN,NaN,NaN,1809,NaN,NaN,NaN,2,NaN
0,1win&,NaN,NaN,NaN,NaN,1810,NaN,NaN,NaN,NaN,1
0,1win&,NaN,NaN,NaN,NaN,1811,NaN,NaN,NaN,NaN,1
0,1nomination&,NaN,NaN,NaN,NaN,1812,NaN,NaN,NaN,1,NaN
0,1nomination&,NaN,NaN,NaN,NaN,1813,NaN,NaN,NaN,1,NaN
0,2nomination&,NaN,NaN,NaN,NaN,1814,NaN,NaN,NaN,2,NaN
0,2nomination&,NaN,NaN,NaN,NaN,1815,NaN,NaN,NaN,2,NaN
0,1nomination&,NaN,NaN,NaN,NaN,1816,NaN,NaN,NaN,1,NaN
0,1win&1nomination&,NaN,NaN,NaN,NaN,1817,NaN,NaN,NaN,NaN,1
0,1win&1nomination&,NaN,NaN,NaN,NaN,1817,NaN,NaN,NaN,1,NaN
0,7nomination&,NaN,NaN,NaN,NaN,1818,NaN,NaN,NaN,7,NaN

In [26]:
result.head()

,Awards,NominatedforBAFTAFilmAward,NominatedforGoldenGlobe,NominatedforOscar,NominatedforPrimetimeEmmy,Uniquekey,WonGoldenGlobe,WonOscar,WonPrimetimeEmmy,nomination,win
0,awards,NominatedforBAFTAFilmAward,NominatedforGoldenGlobe,NominatedforOscar,NominatedforPrimetimeEmmy,0,WonGoldenGlobe,WonOscar,WonPrimetimeEmmy,nomination,win
0,1win&2nomination&,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,1
0,1win&2nomination&,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,2,NaN
0,1win&,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,1
0,1nomination&,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,1,NaN

In [27]:
r1=result.groupby(["Awards","Uniquekey"]).sum().reset_index()

In [46]:
r2=r1.sort_values(by=["Uniquekey"],ascending=[True])
r2=r2.drop(r2[r2["Uniquekey"]==0].index)
r2=r2.fillna(0)
r2=r2[["Awards","win","nomination","WonPrimetimeEmmy","WonOscar","WonGoldenGlobe","NominatedforPrimetimeEmmy","NominatedforOscar","NominatedforGoldenGlobe","NominatedforBAFTAFilmAward"]]
r2.head()

,Awards,win,nomination,WonPrimetimeEmmy,WonOscar,WonGoldenGlobe,NominatedforPrimetimeEmmy,NominatedforOscar,NominatedforGoldenGlobe,NominatedforBAFTAFilmAward
796,1win&2nomination&,1,2,0,0,0,0,0,0,0
445,1win&,1,0,0,0,0,0,0,0,0
45,1nomination&,0,1,0,0,0,0,0,0,0
1352,3win&2nomination&,3,2,0,0,0,0,0,0,0
682,1win&1nomination&,1,1,0,0,0,0,0,0,0

In [19]:
# result.apply(lambda x: x if not np.nan else -1)
# result

In [47]:
r2.to_csv("Q4.csv",index=False)