In [32]:
from pandas import Series, DataFrame
import pandas as pd
import os
import numpy as np
import datetime as dt

In [33]:
df = pd.read_csv(os.getcwd()+'/employee_compensation.csv')

df2=df[df["Year Type"]=="Calendar"]

In [34]:
df2=df2[["Job Family","Employee Identifier","Salaries","Overtime","Other Salaries","Total Salary","Retirement","Health/Dental","Other Benefits","Total Benefits","Total Compensation"]]

In [35]:
df2=df2.groupby(["Job Family","Employee Identifier"],as_index=False).mean()

df2.head()                #average salary

,Job Family,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Administrative & Mgmt (Unrep),2321,291241.175,0.0,0.0,291241.175,57103.3575,13071.9925,19095.6025,89270.9525,380512.1275
1,Administrative & Mgmt (Unrep),4800,14463.000,0.0,0.0,14463.000,2636.6100,1543.3700,1857.4400,6037.4200,20500.4200
2,Administrative & Mgmt (Unrep),5547,205073.100,0.0,0.0,205073.100,36761.3900,12089.6900,29617.8400,78468.9200,283542.0200
3,Administrative & Mgmt (Unrep),5662,128370.200,0.0,0.0,128370.200,23089.5500,3601.1900,5032.4800,31723.2200,160093.4200
4,Administrative & Mgmt (Unrep),8493,53658.000,0.0,0.0,53658.000,9524.3400,4630.1000,6796.6700,20951.1100,74609.1100

In [28]:
    #average salery

In [40]:
df3=df2.query('Overtime>Salaries*0.05')          #Overtime>Salaries*0.05
df3.head()

,Job Family,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
90,Administrative-Labor & Trades,5727,123810.3575,32152.7675,32016.3475,187979.4725,26494.965,12234.70,10274.5925,49004.2575,236983.73
92,Administrative-Labor & Trades,8353,66924.4050,59010.0100,11629.3000,137563.7150,15369.260,7708.45,6998.8050,30076.5150,167640.23
93,Administrative-Labor & Trades,10523,51481.5300,21225.3300,32734.0700,105440.9300,9665.120,5119.45,8446.8400,23231.4100,128672.34
97,Administrative-Labor & Trades,13187,55484.0000,9646.6800,11803.0000,76933.6800,10114.720,5659.01,2532.3000,18306.0300,95239.71
101,Administrative-Labor & Trades,16350,38002.0000,4257.9000,0.0000,42259.9000,7072.180,3822.92,3399.4100,14294.5100,56554.41

In [41]:
df3=df3[["Job Family","Total Benefits","Total Compensation"]]

In [42]:
df3.head()

                        Job Family  Total Benefits  Total Compensation
90   Administrative-Labor & Trades      49004.2575           236983.73
92   Administrative-Labor & Trades      30076.5150           167640.23
93   Administrative-Labor & Trades      23231.4100           128672.34
97   Administrative-Labor & Trades      18306.0300            95239.71
101  Administrative-Labor & Trades      14294.5100            56554.41

In [49]:
df4=df3.groupby(["Job Family"],as_index=False).mean()
df4.head()

                      Job Family  Total Benefits  Total Compensation
0  Administrative-Labor & Trades    35398.450119       162831.632560
1     Agriculture & Horticulture    27886.590323        94075.711769
2              Airport Operation    33661.152255       122059.011671
3  Budget, Admn & Stats Analysis    22721.521375        79834.029938
4  Clerical, Secretarial & Steno     7166.984747        24424.693281

In [50]:
df4["PERCENTAGE"]=df4["Total Benefits"]/df4["Total Compensation"]
df4.head()

,Job Family,Total Benefits,Total Compensation,PERCENTAGE
0,Administrative-Labor & Trades,35398.450119,162831.632560,0.217393
1,Agriculture & Horticulture,27886.590323,94075.711769,0.296427
2,Airport Operation,33661.152255,122059.011671,0.275778
3,"Budget, Admn & Stats Analysis",22721.521375,79834.029938,0.284609
4,"Clerical, Secretarial & Steno",7166.984747,24424.693281,0.293432

In [51]:
df4=df4.sort_values(["PERCENTAGE"],ascending=False)
df4.head()

                   Job Family  Total Benefits  Total Compensation  PERCENTAGE
34        Public Service Aide    12081.252503        34013.789743    0.355187
23                 Park & Zoo    22168.769722        65363.664630    0.339160
9        Energy & Environment    14254.410000        43219.500000    0.329814
37                    Revenue    15629.204089        47641.781767    0.328057
21  Museum & Cultural Affairs    27037.390000        83926.070000    0.322157

In [12]:
df4.to_csv('Q2-2.csv')