In [1]:
from pandas import Series, DataFrame
import pandas as pd
import os
import numpy as np
import datetime as dt

In [2]:
df = pd.read_csv(os.getcwd()+'/cricket_matches.csv')

In [23]:
df1=df[["home","winner","innings1","innings2","innings1_runs","innings2_runs"]]
df1.head()

,home,winner,innings1,innings2,innings1_runs,innings2_runs
0,Durham,Durham,Nottinghamshire,Durham,157.0,160.0
1,Hampshire,Hampshire,Hampshire,Sussex,153.0,148.0
2,Somerset,Warwickshire,Warwickshire,Somerset,188.0,169.0
3,Surrey,Surrey,Middlesex,Surrey,155.0,158.0
4,Worcestershire,Worcestershire,Northamptonshire,Worcestershire,150.0,151.0

In [55]:
df2=df1[df1.home==df1.winner]

In [56]:
df2.head()

,home,winner,innings1,innings2,innings1_runs,innings2_runs
0,Durham,Durham,Nottinghamshire,Durham,157.0,160.0
1,Hampshire,Hampshire,Hampshire,Sussex,153.0,148.0
3,Surrey,Surrey,Middlesex,Surrey,155.0,158.0
4,Worcestershire,Worcestershire,Northamptonshire,Worcestershire,150.0,151.0
5,Gloucestershire,Gloucestershire,Worcestershire,Gloucestershire,122.0,126.0

In [57]:
# def fuc(dff):
#     if dff== df2["home"]:
#         return df2["innings1_runs"]
#     else:
#         return df2["innings2_runs"]
        
    





# df2["score"]=df2["innings1"].apply(lambda x: df2["innings1_runs"] if x==df2["home"].str else df2["innings2_runs"])

# frame[['b','c']].apply(lambda x: x['c'] if x['c']>0 else x['b'], axis=1)
re=df2.copy()

re["score"]=re.apply(lambda x:x["innings1_runs"] if x["home"]==x["innings1"] else x["innings2_runs"],axis=1)

In [58]:
# frame = pd.DataFrame(np.random.randn(4, 3), columns=list('abc'))

# frame

In [59]:
# frame[['b','c']].apply(lambda x: x['c'] if x['c']>0 else x['b'], axis=1)

In [65]:
re1=re[["home","score"]].groupby(["home"]).mean()
re1.head()

                         score
home
Abahani Limited     172.000000
Abbottabad Falcons  139.454545
Abbottabad Region   182.666667
Abbottabad Rhinos   165.000000
Adelaide Strikers   163.111111

In [66]:
re1.to_csv("Q3.csv")