In [1]:
from pandas import Series, DataFrame
import pandas as pd
import os
import numpy as np
import datetime as dt

In [2]:
df = pd.read_csv(os.getcwd()+'/employee_compensation.csv')

In [11]:
df.head()
df2=df[["Organization Group","Department","Total Compensation"]]
df2.head()

,Organization Group,Department,Total Compensation
0,"Public Works, Transportation & Commerce",Airport Commission,143916.66
1,Community Health,Public Health,107914.16
2,Human Welfare & Neighborhood Development,Department of the Status of Women,267.28
3,General Administration & Finance,Human Resources,2519.13
4,Culture & Recreation,Recreation and Park Commission,1726.68

In [13]:
df3=df2.groupby(["Organization Group","Department"]).mean()

In [20]:
df4=df3.sort_values(by=["Total Compensation"],ascending=[False])
df4.head()

                                                  Total Compensation
Organization Group               Department
Culture & Recreation             Law Library           188424.362222
Public Protection                Fire Department       180788.086979
General Administration & Finance City Attorney         166082.677561
Public Protection                Public Defender       147552.185739
                                 Police                141263.701729

In [22]:
df4.to_csv('Q2-1.csv')